    
    body{  

        margin: 20px;
        padding: 20px 60px 20px 60px;

        color: white;
        background-image: url("img/pic03.jpg");
        background-repeat: no-repear;
        background-size: 100%
        

        
    }
    .rounded
    {
        width: 150px;
        margin: auto;
    }
    .rounded img
    {
        border-radius: 50%;
    }

    